@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@media only screen and (max-width: 768px) and (min-width: 375px)  {
    body {
        width: 100%;
        margin: auto;
    }
    .myInfo {
        width: 100vw;
        height: 100vh;
    }
}
.appbar {
    position: relative;
    width: 100%;
    height: 7rem;
    left: 0px;
    top: 0px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 8%;
    right: 8%;
    top: 5%;
    bottom: 0px;
    padding-top: 2rem
}

.mylogo {
    width: 30%;
    height: 2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070FF;
}

.hamburger {
    color: #6070FF;
    height: 74%;
    padding-right: 30%;
}

.myInfo {
    gap: 1rem;
    /*left: calc(50% - 375px/2);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    background-image: url("./images/header-shapes\ mobile.png");
    background-repeat: no-repeat;
}

.hero-text {
    position: relative;
    top: -9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 0% 8% 0% 8%;
}

.hero_title {
    height: 6.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #172B4D;
}

.hero_desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #344563;
    top: -2%
}

.contact {
    position: relative;
    top: -4.6rem;
    padding: 0% 8% 0% 8%
}
.contact-text {
    width: 80%;
    height: 80%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #7F8CFF;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: 1rem;
    flex: none;
    flex-grow: 0;
}