@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@media only screen and (max-width: 768px) and (min-width: 375px) {
  body {
    margin: auto;
    background-color: #fff;
  }

  .main {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 1080px) {
  body {
    max-width: 750px;
    margin: auto;
  }

  .main {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 375px) {
  body {
    max-width: 375px;
    margin: auto;
  }

  .main {
    width: 100%;
    height: 100%;
  }

  .mylogo {
    line-height: 80%;
    width: 70%;
    height: 2em;
    font-size: 0.5em;
  }
}

.appbar {
  position: relative;
  width: 100%;
  height: 7rem;
  left: 0;
  top: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 8%;
  right: 8%;
  top: 5%;
  bottom: 0;
  padding-top: 2rem;
}

.mylogo {
  width: 30%;
  height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 10%;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

button {
  background-color: transparent;
  border: none;
}

.burger {
  background-color: hsl(234, 100%, 69%);
  width: 1.5em;
  height: 0.3em;
  margin: 0.3em 0;
}

.myInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  background-image: url("./images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}

.hero-text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 0% 8% 0% 8%;
}

.hero_title {
  height: 6.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #172b4d;
}

.hero_desc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  top: -2%;
}

.contact {
  position: relative;
  top: -1rem;
  padding: 0% 8% 0% 8%;
}

.contact-text {
  width: 80%;
  height: 80%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 4rem;
  color: #7f8cff;
}

.social-icons {
  position: relative;
  top: -1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 45%;
  height: 1rem;
  list-style-type: none;
  flex-grow: 0;
  padding-left: 0;
}

.project-grid {
  display: grid;
  box-sizing: border-box;
  border-radius: 5%;
  margin: auto;
  padding-top: 6rem;
  background: #fff;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-sizing: border-box;
  margin-top: 5rem;
  border: 1em;
  background-color: #fff;
}

.project-img > img {
  max-width: 95%;
  max-height: 100%;
  display: block;
  margin-left: 0.7rem;
  margin-top: 1rem;
}

.project-card > h2 {
  padding-left: 0.5em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #172b4d;
  justify-items: baseline;
}

.overhead {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: -1em;
  left: -1.5em;
  padding-right: 0.5em;
}

.overhead-1 {
  color: #344563;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.overhead :not(.overhead-1) {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.project-detail {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #344563;
  padding-left: 1em;
  position: relative;
  top: -1em;
}

.built-with {
  max-width: 80%;
  list-style-type: none;
  position: relative;
  left: -1.5em;
}

.built-with li {
  float: left;
  margin-right: 8px;
}

.build {
  background-color: #ebebff;
  width: 100%;
  text-align: center;
  height: 2.5rem;
  border-radius: 8px;
  padding: 0.8em;
  border: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 1em;
}

.see {
  background-color: white;
  width: 50%;
  height: 10%;
  border-radius: 0.8em;
  padding: 1em;
  border: 1px solid;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #6070ff;
  text-align: center;
  margin-left: 1em;
  margin-top: 1.5rem;
}

.about-title {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.about-myself {
  position: relative;
  top: -1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #344563;
}

.letsconnect {
  position: relative;
  top: -2em;
  align-items: baseline;
}

.resume-button {
  background-color: white;
  width: 50%;
  height: 10%;
  border-radius: 0.8em;
  padding: 1em;
  margin: auto;
  border: 1px solid;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #6070ff;
  text-align: center;
}

.myself {
  position: relative;
  background-color: #fff;
  background-image: url("./images/Base\ about\ my\ self.png");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  margin-right: 1.3rem;
  margin-left: 1.3rem;
  margin-top: 10rem;
}

.languages {
  align-items: baseline;
}

.languagebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-button {
  display: flex;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  font-size: large;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1em;
}

.languagebar > h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.language-skill {
  width: 100%;
  list-style-type: none;
  margin-left: auto;
  margin-top: 2rem;
  position: relative;
  left: -2.5em;
}

.skill {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;
  box-sizing: border-box;
  background: #f7f7f9;
  border-radius: 8px;
  position: relative;
  align-items: baseline;
  padding: 0;
  padding-top: 1em;
  padding-left: 1em;
  text-align: center;
  margin-top: 0.8em;
}

.name-lang {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  text-align: center;
  position: relative;
  top: -1em;
}

.skill > img {
  max-width: 30%;
  max-height: 3rem;
  margin: 0.1em;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frameworks > h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.right {
  display: flex;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  font-size: large;
  margin-right: 2rem;
  margin-top: 0.2rem;
}

.hr {
  position: relative;
  left: -1em;
  width: 100%;
  background-color: #dfe1e6;
  height: 0.1em;
}

.contact-me {
  background-color: #fff;
  background-image: url("./images/Contact\ me.png");
  background-size: cover;
  height: 112vh;
  margin-top: 5rem;
  padding: 0;
}

.contact-me-here {
  width: 100%;
  background-image: url("./images/contact\ form\ shapes-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.contact-title {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 6rem;
}

.contact-me-text {
  width: 327px;
  height: 137px;
  left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: -1rem;
}

.contact-form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 10px;
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2.5rem;
}

.input-box {
  width: 100%;
  height: 3rem;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  border-radius: 1em;
  border: 1px solid #cfd8dc;
}

input[type='text'] {
  padding-left: 10px;
  max-width: calc(100% - 10px);
  color: black;
}

input[type='email'] {
  padding-left: 10px;
  max-width: calc(100% - 10px);
  color: black;
  font-size: large;
}

.message-box {
  margin: auto;
  width: 100%;
  height: 8rem;
  background: #fff;
  border-radius: 1em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: large;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  max-width: calc(100% - 10px);
}

.getintouch {
  background-color: white;
  height: 3rem;
  border-radius: 0.8em;
  border: 1px solid;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  color: #6070ff;
  position: relative;
  padding: 0 1rem;
}

a:hover {
  cursor: pointer;
}

.message-box,
.input-box:hover {
  cursor: text;
}

button:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: white;
}

button:active {
  background-color: darkblue;
  color: white;
}

.button-burger:hover {
  cursor: pointer;
  background-color: rgba(58, 192, 17, 0.26);
  color: white;
}

.button-burger:active {
  background-color: #172b4d;
}

.lang-button:hover,
.right:hover {
  background-color: #c6d8f7;
}

.lang-button:active,
.right:active {
  background-color: #3496f1;
  color: white;
}

.the-end {
  background-color: black;
  width: 40%;
  height: 0.3em;
  text-align: center;
  margin: auto;
  margin-top: 2.5rem;
}
