@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@media (min-width: 375px) and (max-width: 767px) {
  body {
    margin: auto;
  }

  .card {
    display: none !important;
  }

  .appbar {
    position: relative;
    width: 100%;
    height: 7rem;
    left: 0;
    top: 0;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 8%;
    right: 8%;
    top: 5%;
    bottom: 0;
    padding-top: 2rem;
  }

  .main {
    width: 100%;
    height: 100%;
  }

  .project-img > img {
    max-width: 95%;
    max-height: 100%;
    display: block;
    margin-left: 0.7rem;
    margin-top: 1rem;
    object-fit: cover;
  }

  .mylogo-mobile {
    width: 30%;
    height: 2rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 10%;
    align-items: center;
    text-align: center;
    color: #6070ff;
  }

  .mylogo-mobile a {
    transition: color 2s;
  }

  .myInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    background-image: url("./images/header-shapes\ mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
  }

  .hero-text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 0% 8% 0% 8%;
  }

  .hero_title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #172b4d;
    height: 6.5rem;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .hero_desc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344563;
    font-size: 1rem;
    line-height: 1.5rem;
    top: -2%;
  }

  .contact {
    position: relative;
    top: -1rem;
    padding: 0% 8% 0% 8%;
  }

  .contact-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #7f8cff;
    width: 80%;
    height: 80%;
    font-size: 1rem;
    line-height: 4rem;
  }

  .social-icons {
    position: relative;
    top: -1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 45%;
    height: 1rem;
    list-style-type: none;
    padding-left: 0;
  }

  .project-grid {
    display: grid;
    box-sizing: border-box;
    border-radius: 5%;
    margin: auto;
    padding-top: 6rem;
    background: #fff;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    border-radius: 5rem;
    box-sizing: border-box;
    margin-top: 4rem;
    border: 1em;
    background-color: #fff;
  }

  .overhead {
    display: flex;
    width: 18rem;
    justify-content: space-between;
    position: relative;
    top: -1em;
    left: -1.8em;
    padding-right: 0.5em;
  }

  .overhead-1 {
    color: #344563;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  .overhead :not(.overhead-1) {
    color: #7a869a;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  .project-detail {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7rem;
    color: #344563;
    padding-left: 1em;
    position: relative;
    top: -1em;
  }

  .see {
    background-color: white;
    border: 1px solid;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: #6070ff;
    text-align: center;
    margin-left: 1em;
    margin-top: 1.5rem;
    width: 9rem;
    height: 4rem;
    border-radius: 0.8em;
    padding: 1em;
  }

  .myself {
    background-image: url("./images/Base\ about\ my\ self.png");
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    margin-top: 10rem;
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    position: relative;
    background-color: #fff;
  }

  .about-title {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    display: flex;
    align-items: center;
  }

  .about-myself {
    position: relative;
    top: -1rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7rem;
    color: #344563;
  }

  .letsconnect {
    position: relative;
    top: -1.5em;
    align-items: baseline;
  }

  .media-icons {
    position: relative;
    top: -1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 45%;
    height: 1rem;
    list-style-type: none;
    padding-left: 0;
  }

  .resume-button {
    background-color: white;
    width: 50%;
    border-radius: 0.8em;
    padding: 1em;
    margin: auto;
    border: 1px solid;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: #6070ff;
    text-align: center;
  }

  .languages {
    align-items: baseline;
  }

  .languagebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .languagebar > h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .frameworks > h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .project-card > .project-desktop > h2 {
    padding-left: 0.5em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #172b4d;
    justify-items: baseline;
  }

  .lang-button {
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1em;
  }

  .language-skill {
    list-style-type: none;
    margin-left: auto;
    margin-top: 2rem;
    position: relative;
    left: -2.5em;
    width: 100%;
    top: -20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .skill {
    display: flex;
    background: #f7f7f9;
  }

  .name-lang {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #253858;
    text-align: center;
    position: relative;
    left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .skill > img {
    max-width: 30%;
    max-height: 3rem;
    margin: 0.1em;
  }

  .lang-img {
    width: 48px;
    height: 24px;
    top: 11px;
  }

  .jav-img {
    width: 120%;
    height: 150%;
  }

  .frameworks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .right {
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1em;
  }

  .hr {
    position: relative;
    left: -1em;
    width: 100%;
    background-color: #dfe1e6;
    height: 0.1em;
  }

  .contact-me {
    height: 130vh;
    background-color: #fff;
    margin-top: 5rem;
    padding: 0;
    padding-top: 2rem;
    background-image: url("./images/Contact\ me.png");
    background-size: cover;
  }

  .contact-me-here {
    background-image: url("./images/contact\ form\ shapes-mobile.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 57.5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .contact-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    position: relative;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .contact-me-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 327px;
    height: 137px;
    left: 24px;
    font-size: 20px;
    line-height: 28px;
    margin-top: -1rem;
    text-align: center;
    color: #ebebff;
  }

  .contact-form {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 18px;
    width: 87.2%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .input-box {
    background: #fff;
    font-family: "Poppins", sans-serif;
    border: 1px solid #cfd8dc;
    width: 100%;
    height: 48px;
    left: 16px;
    right: 38px;
    top: calc(50% - 9px);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    border-radius: 8px;
    align-items: center;
  }

  input[type="text"] {
    top: calc(50% - 9px);
    right: 38px;
    padding-left: 16px;
    max-width: calc(100% - 16px);
    color: black;
  }

  input[type="email"] {
    top: calc(50% - 9px);
    right: 38px;
    padding-left: 16px;
    max-width: calc(100% - 16px);
    color: black;
  }

  input::placeholder {
    color: #172b4d;
  }

  .message-box {
    margin: auto;
    width: 100%;
    right: 38px;
    bottom: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    height: 8rem;
    background: #fff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: black;
    padding-left: 16px;
    padding-top: 15px;
    max-width: calc(100% - 16px);
  }

  .getintouch {
    background-color: white;
    width: 9rem;
    height: 48px;
    border-radius: 8px;
    border: 1px solid;
    padding: 12px 16px 12px 16px;
    font-size: 17px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #6070ff;
  }

  .desktop {
    display: none;
  }

  .blur-effect {
    filter: blur(6px);
  }

  .mobile-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top: 0;
    background-color: #fff;
    width: 150%;
    height: 100vh;
    background-image: url("./images/Overlay.png");
    background-repeat: no-repeat;
    opacity: 0.8;
    padding-top: 2rem;
    z-index: 1;
  }

  .close-button {
    position: relative;
    left: 19rem;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    gap: 2.5rem;
    padding-top: 1rem;
  }

  .menu-list li a {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    z-index: 5;
  }

  .hide-seek {
    display: none !important;
  }

  .title {
    position: relative;
    left: 1rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  .built-with {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 80%;
    list-style-type: none;
    position: relative;
    left: -1.5em;
  }

  .build {
    text-align: center;
    background-color: #ebebff;
    height: 2rem;
    border-radius: 8px;
    padding: 0.8em;
    border: none;
    color: #6070ff;
    font-weight: 500;
    width: 5rem;
    font-size: 0.7em;
    gap: 1em;
  }

  .dlastBuild {
    position: relative;
    left: 1.2em;
  }

  .desktop-popup {
    display: none;
  }

  /* ProjectCard Pop-Up for mobile */
  .pro-mobile {
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    height: 100vh;
    max-height: 100vh;
  }

  .top-div-popup {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -0.5rem;
  }

  .pro-mobile h1 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  }

  .overheadPop {
    display: flex;
    gap: 2rem;
    position: relative;
    top: -2.5rem;
  }

  .overheadPop li {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    position: relative;
    left: -2rem;
  }

  .first-child {
    list-style-type: none;
    font-weight: 600;
  }

  .pro-image {
    width: 100%;
    object-fit: cover;
    position: relative;
    top: -2.5rem;
  }

  .pro-mobile p {
    font-size: 0.87rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5rem;
    position: relative;
    top: -2.5rem;
  }

  .builtwith-popup {
    display: flex;
    list-style-type: none;
    gap: 0.7rem;
    position: relative;
    top: -3rem;
    left: -2.5rem;
  }

  .builtwith-popup li div {
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
    height: 1rem;
    padding: 0.24rem 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    border-radius: 8px;
    background-color: #ebebff;
  }

  .buttons-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    width: 19.4rem;
    gap: 0.75rem;
    position: relative;
    top: -5rem;
    left: 0.8rem;
  }

  .button-popup {
    display: flex;
    justify-content: space-between;
    width: 8.4rem;
    padding: 0.75rem 1.28rem;
    border: 2px solid #6070ff;
    border-radius: 8px;
    gap: 0.5rem;
  }

  .button-popup:last-child {
    width: 9.5rem;
    gap: 0.4rem;
    padding: 0.75rem 1rem;
  }

  .button-popup span {
    font-size: 0.9375rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.25rem;
  }
}

.project-card-popup {
  display: none;
}

@media only screen and (min-width: 767px) {
  * {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    max-width: 767px;
  }

  .body {
    margin: auto;
    background-color: black;
  }

  .hide-seek {
    display: none !important;
  }

  .mobile {
    display: none;
  }

  .appbar {
    max-width: 800px;
    height: 37px;
  }

  .toolbar-d {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    width: 100%;
  }

  .toolbar-d > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-end;
    gap: 17px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 7.5px;
    line-height: 20px;
    position: relative;
    left: 7.5rem;
  }

  .mylogo-desktop {
    position: relative;
    top: 5px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11.2px;
    align-items: center;
    text-align: center;
    left: -5rem;
  }

  .myInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: inherit;
    background-image: url("./images/desktop/headerImg.png");
    background-size: 100% 99.5%;
    align-items: center;
    line-height: 10px;
    justify-items: center;
    height: 450px;
    width: 100%;
    margin-left: 2rem;
    margin-top: 37px;
  }

  .hero-text {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding: 0% 8% 0% 8%;
  }

  .hero_title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #172b4d;
    height: 35.7px;
    font-size: 25.5px;
    line-height: 35.3px;
    top: 10px;
    position: relative;
    left: -9rem;
  }

  .hero_desc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344563;
    font-size: 11px;
    line-height: 15px;
    position: relative;
    top: 3rem;
  }

  .contact {
    position: relative;
    left: -11.8rem;
    top: -4.2rem;
  }

  .contact-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #7f8cff;
    font-size: 11px;
  }

  .social-icons {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    width: 112px;
    height: 11px;
    top: 0.6rem;
    left: -0.4rem;
  }

  .project-grid {
    display: grid;
    box-sizing: border-box;
    border-radius: 5%;
    margin: auto;
    padding-top: 6rem;
    background: #fff;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 4rem;
    gap: 5rem;
    margin-bottom: 4rem;
  }

  .project-card {
    box-sizing: border-box;
    max-width: 767px;
    border-radius: 1px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    border: 1em;
    background-color: #fff;
    padding-left: 4rem;
  }

  .project-docu {
    position: relative;
    top: -2.5rem;
  }

  .overhead {
    display: flex;
    flex-direction: row;
    font-size: 9.58px;
    top: 2px;
    position: relative;
    left: -5.4em;
    width: 13.5rem;
  }

  .new {
    width: 16rem;
    left: -0.8rem;
  }

  .overhead-1 {
    color: #344563;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  .overhead :not(.overhead-1) {
    color: #7a869a;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  .project-detail {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344563;
    padding-left: 1em;
    position: relative;
    font-size: 8.51px;
    top: 17.1px;
    line-height: 12.76px;
    left: 0.2rem;
  }

  .see {
    background-color: white;
    border: 1px solid;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #6070ff;
    text-align: center;
    margin-left: 1em;
    margin-top: 1.5rem;
    height: 25.53px;
    padding: 7px;
    font-size: 9px;
    position: relative;
    left: 0.2rem;
    border-radius: 5px;
  }

  /* -----------Desktop Popup--------------- */
  .card {
    width: 60vw;
    padding: 5rem;
    height: 50vh;
  }

  .card h1 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 3.25rem;
  }

  .close-button {
    float: right;
    margin-top: -2rem;
  }

  .list-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    left: -7rem;
  }

  .list-item {
    flex: 1 1 auto;
    margin-right: 1rem; /* Add spacing between list items */
    font-size: 0.9375rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: 1rem;
  }

  .list-item:first-child {
    font-weight: bold;
    list-style-type: none;
  }

  .image {
    width: 100%;
    margin-bottom: 1rem;
  }

  .content-div {
    display: flex;
  }

  .left-div {
    width: 48rem;
    margin-right: 1.5rem;
  }

  .right-div {
    width: 20rem;
  }

  .right-list {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    list-style-type: none;
    position: relative;
    left: -2rem;
    top: -5rem;
  }

  .rightlist-div {
    flex: 1 1 auto;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    background-color: #ebebff;
    border-radius: 8px;
    height: 2rem;
    text-align: center;
    align-self: flex-start;
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.0225rem;
    padding: 0.5rem;
  }

  .last-rightlistItem {
    position: relative;
    left: -3.2rem;
  }

  .second-last-rightlistItem {
    position: relative;
    left: -1rem;
  }

  .buttons {
    display: flex;
    gap: 1em;
    position: relative;
    left: -1rem;
  }

  .button-end {
    width: 7rem;
    height: 3rem;
    box-sizing: border-box;
    border: 2px solid #3496f1;
    border-radius: 8px;
  }

  .icon-img {
    position: relative;
    top: 0.4rem;
  }

  /* ---------------end of Desktop Popup............ */

  .myself {
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    position: relative;
    background-color: #fff;
    padding-left: 76px;
    margin: 0;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    background-image: url("./images/desktop/about\ myself\ -\ background-\ shape-\ desktop.svg");
    width: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    margin-top: -1.4rem;
    align-items: flex-start;
  }

  .about-title {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    font-size: 22px;
    left: -4.5rem;
  }

  .about-myself {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #344563;
    width: 80%;
    font-size: 9px;
    line-height: 12.76px;
    top: -0.7rem;
  }

  .letsconnect {
    position: relative;
    align-items: baseline;
    font-size: 8.5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    left: -6.8rem;
    top: -0.5rem;
  }

  .media-icons {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    width: 112px;
    height: 11px;
    top: 0.5rem;
    left: 1.1rem;
  }

  .resume-button {
    background-color: white;
    border: 1px solid;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #6070ff;
    text-align: center;
    font-size: 9px;
    width: 86px;
    height: 26px;
    padding: 6px;
    border-radius: 4px;
    margin-top: 2em;
    position: relative;
    left: 0.5rem;
    top: 0.6rem;
  }

  .myself-lang-desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 19.2px;
    margin-left: -2em;
    margin-top: -0.3em;
  }

  .languages {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .languagebar {
    display: flex;
    justify-content: space-between;
    font-size: 11.2px;
    width: 100%;
  }

  .languagebar > h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.2px;
    position: relative;
    left: -4em;
  }

  .frameworks > h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.2px;
    position: relative;
    left: -2.7rem;
  }

  .second > h2 {
    font-size: 11.2px;
    position: relative;
    left: -3.42rem;
  }

  .project-card > .project-desktop > h2 {
    padding-left: 0.5em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #172b4d;
    justify-items: baseline;
  }

  .lang-button {
    position: relative;
    left: 1.8rem;
  }

  .lang-button > img {
    @media only screen and (min-width: 767px) {
      max-width: 80%;
    }
  }

  .right > img {
    max-width: 80%;
  }

  .language-skill {
    list-style-type: none;
    display: flex;
    gap: 6px;
    width: 60%;
    position: relative;
    left: -3.25rem;
  }

  .skill {
    display: flex;
    gap: 0.5em;
    border-radius: 8px;
    align-items: baseline;
    text-align: center;
    margin-top: 0.8em;
    width: 64px;
    flex-direction: column;
    height: 64px;
    padding: 0.5rem;
  }

  .name-lang {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #253858;
    text-align: center;
    position: relative;
    font-size: 8px;
    top: -0.5em;
    left: -1.5em;
  }

  .name-js {
    font-size: 8px;
    top: -0.5em;
    left: -0.3em;
  }

  .skill > img {
    margin: 0.1em;
    max-height: 3.9rem;
    max-width: 50%;
  }

  .lang-img {
    width: 25.5px;
    height: 25.5px;
    top: 7px;
  }

  .jav-img {
    width: 120%;
    height: 150%;
  }

  .frameworks {
    display: flex;
    justify-content: space-between;
    font-size: 11.2px;
    width: 100%;
    position: relative;
  }

  .right {
    position: relative;
    left: 1.4rem;
  }

  .second-right {
    position: relative;
    left: 2rem;
  }

  .hr {
    position: relative;
    width: 100%;
    background-color: #dfe1e6;
    height: 0.1em;
    top: -12px;
  }

  .second {
    position: relative;
    top: -12px;
  }

  .second2 {
    position: relative;
    top: -24px;
  }

  .contact-me {
    background-color: #fff;
    margin-top: 5rem;
    padding: 40.5px;
    padding-bottom: 25.5px;
    height: 450px;
    width: 100%;
    background-image: url("./images/desktop/number1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-me-here {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    background-image: url("./images/desktop/number2.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    height: 450px;
  }

  .contact-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    top: 18px;
    font-size: 25px;
  }

  .contact-me-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #ebebff;
    width: 50%;
    max-width: 302px;
    font-size: 11px;
    line-height: 16px;
    position: relative;
    top: -35px;
    left: -2.5px;
  }

  .contact-form {
    display: flex;
    flex-flow: column;
    width: 238px;
    gap: 13px;
    align-items: center;
    position: relative;
    top: -5rem;
  }

  .input-box {
    background: #fff;
    font-family: "Poppins", sans-serif;
    border: 1px solid #cfd8dc;
    align-items: center;
    border-radius: 1px;
    font-size: 9px;
    width: 100%;
    height: 25px;
    padding: 2px;
  }

  input[type="text"] {
    padding: 9px;
    color: black;
  }

  input[type="email"] {
    padding: 9px;
    color: black;
  }

  input::placeholder {
    color: #172b4d;
  }

  .message-box {
    border-radius: 1px;
    margin-left: -2px;
    font-size: 9px;
    padding: 9px;
    height: 80%;
    width: 238px;
  }

  .getintouch {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #6070ff;
    align-self: center;
    font-size: 8.2px;
    width: 75px;
    height: 25.4px;
    border-radius: 4px;
  }

  .project-desktop {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 91%;
    margin-top: -0.4rem;

    @media screen and (min-width: 767px) {
      margin-top: 25.7px;
    }
  }

  .project-img > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
  }

  .title1 {
    font-size: 22px;
    position: relative;
    left: -7.5rem;
  }

  .titleD {
    font-size: 22px;
    position: relative;
    left: 0.6rem;
  }

  .new12 {
    position: relative;
    left: -0.6rem;
  }

  .built-with {
    background-color: transparent;
    display: flex;
    width: 16rem;
    position: relative;
    top: 1rem;
    left: -2rem;
    list-style-type: none;
  }

  .dlastBuild {
    position: relative;
    left: 1rem;
  }

  .cssFor12 {
    position: relative;
    left: -1.2rem;
  }

  .build {
    background-color: #ebebff;
    text-align: center;
    border: none;
    color: #6070ff;
    font-weight: 500;
    height: 14px;
    padding: 1px 6px;
    font-size: 8.51px;
    border-radius: 4px;
  }

  .bltwthTech-1 {
    left: -1rem;
  }

  .bltwthTech-2 {
    left: -3.4rem;
  }

  .bltwthTech-3 {
    left: -2.2rem;
  }

  .bltwthTech-4 {
    left: -1.6rem;
  }

  .social-icons > li > a > img {
    height: 12px;
  }

  .footside > li > a > img {
    height: 12px;
  }

  .mobile-menu {
    display: none !important;
  }

  /* Desktop Pop-up */
  .desktop-popup {
    display: block;
  }
}

/* HOVERING PART */
a:hover {
  cursor: pointer;
}

.mylogo-mobile a:hover {
  color: red;
}

button {
  background-color: transparent;
  border: none;
}

.burger {
  background-color: hsl(234, 100%, 69%);
  width: 1.5em;
  height: 0.3em;
  margin: 0.3em 0;
}

.message-box,
.input-box:hover {
  cursor: text;
}

button:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: white;
}

button:active {
  background-color: darkblue;
  color: white;
}

.button-burger:hover {
  cursor: pointer;
  background-color: rgba(58, 192, 17, 0.26);
  color: white;
}

.button-burger:active {
  background-color: #172b4d;
}

.lang-button:hover,
.right:hover {
  background-color: #c6d8f7;
}

.lang-button:active,
.right:active {
  background-color: #3496f1;
  color: white;
}

.the-end {
  width: 40%;
  height: 0.3em;
  text-align: center;
  margin: auto;
  position: relative;
  top: 2rem;
}
